*{
    margin: 0;
    padding: 0;

}


.container{
    max-width: 2133px;
    width: 100%;
    box-sizing: border-box;
}
header{
    h1{
        margin-top: -350px;
        margin-left: 800px;
        color: white;
    }
    img{
        width: 100%;
        height: 600px;
    }
}
nav{
    width: 100%;
    background: black;
    padding: 10px;
   
}
a{
    color: aliceblue;
    text-decoration: none;
    
}
ul{
display: flex;
    justify-content: center;
    gap: 30px;
list-style: none;
    
}
